.header {
    text-align: center;
    margin-top: 9%;
    animation: slideInBottom 3s ease-out forwards;
}

.header h1 {
    margin-bottom: 8px;
    font-size: 4rem;
    color: #f6f4f4;
    
}


.header p {
    margin-top: 0;
    font-size: 5rem;
    color: #f6f4f4;
}


.button {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 550px;
    margin-left: 500px;
}

.projects:hover{
    background-color: rgb(56, 151, 211);
}

.contact:hover{
    background-color: rgb(38, 127, 229);
}
.projects {
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    border: rgb(12, 11, 11) solid;
}

.contact {
    background-color: rgb(243, 67, 67);
    font-size: 2rem;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 8px;
    border: none;
} 

/* Responsive */
@media (max-width: 820px) {
    .header {
        flex-direction: column;
        margin-top: 50px;
    }

    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 2.5rem;
    }
    
    .button {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin: 0 auto;
    }

    .button button {
        width: 90%;
        max-width: 280px;
        font-size: 1.1rem;
    }
    
    .projects {
        background-color: rgb(218, 72, 46);
    }
}

/* ========================= */
/* ANIMATIONS */
/* ========================= */
@keyframes slideInBottom {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
